.contact-list-horizontal {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping to the next line */
    overflow-y: auto;  /* Add horizontal scrollbar if necessary */
}
.contact-list-horizontal li{
    border: 1px solid #ccc;
    padding: 1vh;
}
.popup {
    display: none;
    position: absolute;
    /* background-color: #f9f9f9;
    border: 1px solid #ccc; */
    padding: 10px;
    z-index: 10;
    
}